C:\Users\USER\OneDrive\Documentos\Programação\Python\Projetos\Comandas-Açai\Scr\LoginWindow\__pycache__
C:\Users\USER\OneDrive\Documentos\Programação\Python\Projetos\Comandas-Açai\Scr\ProfileWindow\__pycache__
C:\Users\USER\OneDrive\Documentos\Programação\Python\Projetos\Comandas-Açai\Scr\SheetWindow\__pycache__